/* 

EXPERIMENT 2 | "ANIMATED"

~

Using CSS keyframe animations, create a webpage that has at least one
motion or time-based element to its design. The content and visual
direction are up to you. It doesn't need to be a full webpage, just
an example of using CSS animations at least once (more is encouraged).

https://www.w3schools.com/css/css3_animations.asp

~

CSS Grid can be a huge help here (it's great for almost all layout stuff for web)
and there are a few links to help you get started on the class resources page:

https://ianmcdonald.ca/resources/

~ 

Have fun, break things, try new things ... this is an experiment after all :)


Ok, now for the styles!

*/





/* COLOR VARIABLES
============================================================================== */

:root {
  --light: #ffffff;
  --dark: red;
}





/* BASE STYLES
============================================================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  background: var(--light);
  color: var(--dark);
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: grid;
  justify-content: right;
  align-content: center;
  min-height: 100vh;

}


/* YOUR Styles
============================================================================== */
.Pride{
  font-size: 6em;
  font-weight: bold;
  text-align: right;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 5;
}

body {
  animation-name: bg-colors;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.harlivy {
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count: 1;
  position: fixed;
}











/* YOUR ANIMATIONS
============================================================================== */

@keyframes bg-colors{

  0% { background-color: red; }
  16% {background-color: orange;}
  32% {background-color: yellow;}
  48% {background-color: green;}
  64% {background-color: teal;}
  80% {background-color: blue;}
  100% { background-color: purple; }
  
}

@keyframes fade {

  from {opacity: 0%;}
  to {opacity: 100%;}
  
}
